@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #8b3dff;
  --color-hover: #7630d7;
  --font-main: "Sora", sans-serif;
}

/* Custom styles can be added here */